<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Foto y Repositorio GitHub
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  
  
  <div class="image-container">
    <ion-img src="assets/imgMigue.jpg" alt="Foto del autor"></ion-img>
  </div>
  
    
  <ion-button expand="block" color="dark" href="https://github.com/Miguel2314carvajal" target="_blank">
    <ion-icon slot="start" name="logo-github"></ion-icon>
    Ir al repositorio en GitHub
  </ion-button>

</ion-content>
